{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block sidebar %}
{% include 'partials/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория : <span>{{item.category}}</span>
    </div>
    <div class="card-body">
        <div class="media d-flex">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" style="border-radius: 5px;" class="mr-3" alt="Image" width="350">
            {% endif %}
            <div class="media-body ml-3" style="margin-left: 10px;">
                <h4 class="card-title">{{item.title}}</h4>
                <p class="card-text">{{item.content|safe|linebreaks|truncatewords:50}}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Посмотреть новость</a>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <!-- {{item.created_at | date:"Y-m-d H:i" }} -->
        {{item.created_at | timesince }}
    </div>
</div>
{% empty %}
<div>Новостей пока нет...</div>
{% endfor %}
{% endblock %}